.elementor-170 .elementor-element.elementor-element-ac3326e>.elementor-container {
    max-width: 1200px;
}

.elementor-170 .elementor-element.elementor-element-ac3326e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -142px;
    padding: 40px 0px 40px 0px;
    z-index: 1;
}

.elementor-170 .elementor-element.elementor-element-ac3326e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-17998a3c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-5b13f3f9>.elementor-container {
    max-width: 1344px;
}

.elementor-170 .elementor-element.elementor-element-5b13f3f9>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-5b13f3f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-71f47d18.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-71f47d18.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-71f47d18:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-170 .elementor-element.elementor-element-71f47d18>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-170 .elementor-element.elementor-element-71f47d18>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-71f47d18>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-f726ec3 {
    width: var( --container-widget-width, 25%);
    max-width: 25%;
    --container-widget-width: 25%;
    --container-widget-flex-grow: 0;
}

.elementor-170 .elementor-element.elementor-element-222de19 .elementor-heading-title {
    color: var( --e-global-color-4427aed);
    font-size: 25px;
}

.elementor-170 .elementor-element.elementor-element-222de19>.elementor-widget-container {
    padding: 0px 0px 0px 7px;
}

.elementor-170 .elementor-element.elementor-element-222de19 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-170 .elementor-element.elementor-element-8cbb31>.elementor-element-populated {
    margin: -6px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu .elementor-item {
    font-family: "Ubuntu", Sans-serif;
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item:hover,
.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-accent);
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown a:hover,
.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-accent);
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown {
    border-radius: 15px 15px 15px 15px;
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.elementor-170 .elementor-element.elementor-element-9903694 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-34181f09.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-34181f09.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-34181f09>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-170 .elementor-element.elementor-element-34181f09:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-170 .elementor-element.elementor-element-34181f09>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-170 .elementor-element.elementor-element-34181f09>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-34181f09>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-1de155e .elementor-button {
    fill: var( --e-global-color-4427aed);
    color: var( --e-global-color-4427aed);
    background-color: #02010100;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-170 .elementor-element.elementor-element-1de155e {
    width: 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .elementor-170 .elementor-element.elementor-element-71f47d18 {
        width: 15%;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31 {
        width: 69.261%;
    }
    .elementor-170 .elementor-element.elementor-element-34181f09 {
        width: 15%;
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-170 .elementor-element.elementor-element-71f47d18 {
        width: 15%;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31 {
        width: 70%;
    }
    .elementor-170 .elementor-element.elementor-element-34181f09 {
        width: 15%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-170 .elementor-element.elementor-element-71f47d18 {
        width: 20%;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31 {
        width: 60%;
    }
    .elementor-170 .elementor-element.elementor-element-34181f09 {
        width: 20%;
    }
}

@media(max-width:1366px) {
    .elementor-170 .elementor-element.elementor-element-5b13f3f9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 15px 0px 15px;
    }
    .elementor-170 .elementor-element.elementor-element-71f47d18>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-34181f09>.elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-170 .elementor-element.elementor-element-ac3326e {
        margin-top: 0px;
        margin-bottom: -105px;
        padding: 20px 015px 20px 015px;
        z-index: 31;
    }
    .elementor-170 .elementor-element.elementor-element-5b13f3f9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-170 .elementor-element.elementor-element-ac3326e {
        margin-top: 0px;
        margin-bottom: -105px;
        padding: 0px 15px 0px 15px;
        z-index: 4;
    }
    .elementor-170 .elementor-element.elementor-element-17998a3c {
        width: 100%;
        z-index: 5;
    }
    .elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-17998a3c.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-170 .elementor-element.elementor-element-17998a3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-170 .elementor-element.elementor-element-17998a3c.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-170 .elementor-element.elementor-element-17998a3c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-5b13f3f9 {
        padding: 20px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-71f47d18 {
        width: 40%;
        z-index: 0;
    }
    .elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-71f47d18.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-170 .elementor-element.elementor-element-71f47d18.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-170 .elementor-element.elementor-element-71f47d18.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-170 .elementor-element.elementor-element-71f47d18>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-222de19 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31 {
        width: 20%;
    }
    .elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column .elementor-widget-wrap {
        align-items: flex-end;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-end;
        align-items: flex-end;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-170 .elementor-element.elementor-element-8cbb31>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-170 .elementor-element.elementor-element-34181f09 {
        width: 40%;
    }
}