.elementor-kit-90 {
    --e-global-color-primary: #02162D;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #0F0F0F;
    --e-global-color-accent: #36E0F7;
    --e-global-color-b7bc268: #02162D;
    --e-global-color-50a63db: #36E0F7;
    --e-global-color-6c2851d: #083756;
    --e-global-color-4427aed: #FFFFFF;
    --e-global-color-8961924: #787878;
    --e-global-color-2477a8f: #000000;
    --e-global-color-da29c75: #197188;
    --e-global-color-9af0954: #EAFCFE;
    --e-global-color-4e7a7b5: #052B45;
    --e-global-color-cb2197e: #010C23;
    --e-global-color-64f4bb2: #052B45;
    --e-global-color-573fdd6: #F9B900;
    --e-global-color-ab78d65: #052B45;
    --e-global-typography-primary-font-family: "Ubuntu";
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-secondary-font-family: "Ubuntu";
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-line-height: 1.1em;
    --e-global-typography-text-font-family: "Manrope";
    --e-global-typography-text-font-size: 12px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-accent-font-family: "Manrope";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-b67282c-font-family: "Ubuntu";
    --e-global-typography-b67282c-font-size: 22px;
    --e-global-typography-b67282c-font-weight: 400;
    --e-global-typography-b67282c-text-decoration: none;
    --e-global-typography-a0c66cc-font-family: "Manrope";
    --e-global-typography-a0c66cc-font-size: 20px;
    --e-global-typography-a0c66cc-font-weight: 400;
    --e-global-typography-a0c66cc-text-decoration: none;
    --e-global-typography-6e0e4ef-font-family: "Manrope";
    --e-global-typography-6e0e4ef-font-size: 18px;
    --e-global-typography-6e0e4ef-font-weight: 400;
    --e-global-typography-6e0e4ef-text-decoration: none;
    --e-global-typography-5627db3-font-family: "Manrope";
    --e-global-typography-5627db3-font-size: 16px;
    --e-global-typography-5627db3-font-weight: 400;
    --e-global-typography-5627db3-text-decoration: none;
    --e-global-typography-abbeb72-font-family: "Manrope";
    --e-global-typography-abbeb72-font-size: 14px;
    --e-global-typography-abbeb72-font-weight: 400;
    --e-global-typography-abbeb72-text-decoration: none;
    --e-global-typography-4c19da7-font-size: 18px;
    --e-global-typography-4c19da7-font-weight: 600;
    --e-global-typography-4c19da7-text-decoration: none;
    --e-global-typography-ca91706-font-family: "Ubuntu";
    --e-global-typography-ca91706-font-size: 16px;
    --e-global-typography-ca91706-font-weight: 500;
    --e-global-typography-403a7e2-font-family: "Ubuntu";
    --e-global-typography-403a7e2-font-size: 66px;
    --e-global-typography-403a7e2-font-weight: 700;
    --e-global-typography-403a7e2-text-decoration: none;
    --e-global-typography-403a7e2-line-height: 1.1em;
    --e-global-typography-b7702d5-font-family: "Ubuntu";
    --e-global-typography-b7702d5-font-size: 46px;
    --e-global-typography-b7702d5-font-weight: 700;
    --e-global-typography-b7702d5-text-decoration: none;
    --e-global-typography-b7702d5-line-height: 1.1em;
    --e-global-typography-26a1339-font-family: "Ubuntu";
    --e-global-typography-26a1339-font-size: 32px;
    --e-global-typography-26a1339-font-weight: 700;
    --e-global-typography-26a1339-text-decoration: none;
    --e-global-typography-26a1339-line-height: 1.1em;
    --e-global-typography-80650e2-font-size: 22px;
    --e-global-typography-80650e2-font-weight: 700;
    --e-global-typography-80650e2-text-decoration: none;
    --e-global-typography-80650e2-line-height: 1.1em;
    --e-global-typography-e9fd589-font-family: "Ubuntu";
    --e-global-typography-e9fd589-font-size: 22px;
    --e-global-typography-e9fd589-font-weight: 500;
    --e-global-typography-e9fd589-text-decoration: none;
    --e-global-typography-e9fd589-line-height: 1.1em;
}

.elementor-kit-90 a {
    text-decoration: none;
}

.elementor-kit-90 h1 {
    font-family: var( --e-global-typography-403a7e2-font-family), Sans-serif;
    font-size: var( --e-global-typography-403a7e2-font-size);
    font-weight: var( --e-global-typography-403a7e2-font-weight);
    text-decoration: var( --e-global-typography-403a7e2-text-decoration);
    line-height: var( --e-global-typography-403a7e2-line-height);
    letter-spacing: var( --e-global-typography-403a7e2-letter-spacing);
    word-spacing: var( --e-global-typography-403a7e2-word-spacing);
}

.elementor-kit-90 h2 {
    font-family: var( --e-global-typography-b7702d5-font-family), Sans-serif;
    font-size: var( --e-global-typography-b7702d5-font-size);
    font-weight: var( --e-global-typography-b7702d5-font-weight);
    text-decoration: var( --e-global-typography-b7702d5-text-decoration);
    line-height: var( --e-global-typography-b7702d5-line-height);
    letter-spacing: var( --e-global-typography-b7702d5-letter-spacing);
    word-spacing: var( --e-global-typography-b7702d5-word-spacing);
}

.elementor-kit-90 h3 {
    font-family: var( --e-global-typography-26a1339-font-family), Sans-serif;
    font-size: var( --e-global-typography-26a1339-font-size);
    font-weight: var( --e-global-typography-26a1339-font-weight);
    text-decoration: var( --e-global-typography-26a1339-text-decoration);
    line-height: var( --e-global-typography-26a1339-line-height);
    letter-spacing: var( --e-global-typography-26a1339-letter-spacing);
    word-spacing: var( --e-global-typography-26a1339-word-spacing);
}

.elementor-kit-90 h4 {
    font-size: var( --e-global-typography-80650e2-font-size);
    font-weight: var( --e-global-typography-80650e2-font-weight);
    text-decoration: var( --e-global-typography-80650e2-text-decoration);
    line-height: var( --e-global-typography-80650e2-line-height);
    letter-spacing: var( --e-global-typography-80650e2-letter-spacing);
    word-spacing: var( --e-global-typography-80650e2-word-spacing);
}

.elementor-kit-90 h5 {
    font-family: var( --e-global-typography-e9fd589-font-family), Sans-serif;
    font-size: var( --e-global-typography-e9fd589-font-size);
    font-weight: var( --e-global-typography-e9fd589-font-weight);
    text-decoration: var( --e-global-typography-e9fd589-text-decoration);
    line-height: var( --e-global-typography-e9fd589-line-height);
    letter-spacing: var( --e-global-typography-e9fd589-letter-spacing);
    word-spacing: var( --e-global-typography-e9fd589-word-spacing);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-90 e-page-transition {
    background-color: #FFBC7D;
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width:1366px) {
    .elementor-kit-90 {
        --e-global-typography-text-font-size: 18px;
        --e-global-typography-accent-font-size: 18px;
        --e-global-typography-6e0e4ef-font-size: 16px;
        --e-global-typography-5627db3-font-size: 14px;
        --e-global-typography-abbeb72-font-size: 12px;
        --e-global-typography-4c19da7-font-size: 16px;
        --e-global-typography-403a7e2-font-size: 50px;
        --e-global-typography-b7702d5-font-size: 40px;
        --e-global-typography-26a1339-font-size: 30px;
        --e-global-typography-80650e2-font-size: 20px;
        --e-global-typography-e9fd589-font-size: 20px;
    }
    .elementor-kit-90 h1 {
        font-size: var( --e-global-typography-403a7e2-font-size);
        line-height: var( --e-global-typography-403a7e2-line-height);
        letter-spacing: var( --e-global-typography-403a7e2-letter-spacing);
        word-spacing: var( --e-global-typography-403a7e2-word-spacing);
    }
    .elementor-kit-90 h2 {
        font-size: var( --e-global-typography-b7702d5-font-size);
        line-height: var( --e-global-typography-b7702d5-line-height);
        letter-spacing: var( --e-global-typography-b7702d5-letter-spacing);
        word-spacing: var( --e-global-typography-b7702d5-word-spacing);
    }
    .elementor-kit-90 h3 {
        font-size: var( --e-global-typography-26a1339-font-size);
        line-height: var( --e-global-typography-26a1339-line-height);
        letter-spacing: var( --e-global-typography-26a1339-letter-spacing);
        word-spacing: var( --e-global-typography-26a1339-word-spacing);
    }
    .elementor-kit-90 h4 {
        font-size: var( --e-global-typography-80650e2-font-size);
        line-height: var( --e-global-typography-80650e2-line-height);
        letter-spacing: var( --e-global-typography-80650e2-letter-spacing);
        word-spacing: var( --e-global-typography-80650e2-word-spacing);
    }
    .elementor-kit-90 h5 {
        font-size: var( --e-global-typography-e9fd589-font-size);
        line-height: var( --e-global-typography-e9fd589-line-height);
        letter-spacing: var( --e-global-typography-e9fd589-letter-spacing);
        word-spacing: var( --e-global-typography-e9fd589-word-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-kit-90 {
        --e-global-typography-text-font-size: 16px;
        --e-global-typography-accent-font-size: 14px;
        --e-global-typography-6e0e4ef-font-size: 14px;
        --e-global-typography-5627db3-font-size: 12px;
        --e-global-typography-4c19da7-font-size: 16px;
        --e-global-typography-ca91706-font-size: 14px;
        --e-global-typography-403a7e2-font-size: 40px;
        --e-global-typography-b7702d5-font-size: 30px;
        --e-global-typography-26a1339-font-size: 26px;
        --e-global-typography-80650e2-font-size: 18px;
        --e-global-typography-e9fd589-font-size: 18px;
    }
    .elementor-kit-90 h1 {
        font-size: var( --e-global-typography-403a7e2-font-size);
        line-height: var( --e-global-typography-403a7e2-line-height);
        letter-spacing: var( --e-global-typography-403a7e2-letter-spacing);
        word-spacing: var( --e-global-typography-403a7e2-word-spacing);
    }
    .elementor-kit-90 h2 {
        font-size: var( --e-global-typography-b7702d5-font-size);
        line-height: var( --e-global-typography-b7702d5-line-height);
        letter-spacing: var( --e-global-typography-b7702d5-letter-spacing);
        word-spacing: var( --e-global-typography-b7702d5-word-spacing);
    }
    .elementor-kit-90 h3 {
        font-size: var( --e-global-typography-26a1339-font-size);
        line-height: var( --e-global-typography-26a1339-line-height);
        letter-spacing: var( --e-global-typography-26a1339-letter-spacing);
        word-spacing: var( --e-global-typography-26a1339-word-spacing);
    }
    .elementor-kit-90 h4 {
        font-size: var( --e-global-typography-80650e2-font-size);
        line-height: var( --e-global-typography-80650e2-line-height);
        letter-spacing: var( --e-global-typography-80650e2-letter-spacing);
        word-spacing: var( --e-global-typography-80650e2-word-spacing);
    }
    .elementor-kit-90 h5 {
        font-size: var( --e-global-typography-e9fd589-font-size);
        line-height: var( --e-global-typography-e9fd589-line-height);
        letter-spacing: var( --e-global-typography-e9fd589-letter-spacing);
        word-spacing: var( --e-global-typography-e9fd589-word-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-90 {
        --e-global-typography-accent-font-size: 14px;
        --e-global-typography-5627db3-font-size: 14px;
        --e-global-typography-403a7e2-font-size: 30px;
        --e-global-typography-b7702d5-font-size: 26px;
        --e-global-typography-26a1339-font-size: 20px;
        --e-global-typography-80650e2-font-size: 16px;
        --e-global-typography-e9fd589-font-size: 16px;
    }
    .elementor-kit-90 h1 {
        font-size: var( --e-global-typography-403a7e2-font-size);
        line-height: var( --e-global-typography-403a7e2-line-height);
        letter-spacing: var( --e-global-typography-403a7e2-letter-spacing);
        word-spacing: var( --e-global-typography-403a7e2-word-spacing);
    }
    .elementor-kit-90 h2 {
        font-size: var( --e-global-typography-b7702d5-font-size);
        line-height: var( --e-global-typography-b7702d5-line-height);
        letter-spacing: var( --e-global-typography-b7702d5-letter-spacing);
        word-spacing: var( --e-global-typography-b7702d5-word-spacing);
    }
    .elementor-kit-90 h3 {
        font-size: var( --e-global-typography-26a1339-font-size);
        line-height: var( --e-global-typography-26a1339-line-height);
        letter-spacing: var( --e-global-typography-26a1339-letter-spacing);
        word-spacing: var( --e-global-typography-26a1339-word-spacing);
    }
    .elementor-kit-90 h4 {
        font-size: var( --e-global-typography-80650e2-font-size);
        line-height: var( --e-global-typography-80650e2-line-height);
        letter-spacing: var( --e-global-typography-80650e2-letter-spacing);
        word-spacing: var( --e-global-typography-80650e2-word-spacing);
    }
    .elementor-kit-90 h5 {
        font-size: var( --e-global-typography-e9fd589-font-size);
        line-height: var( --e-global-typography-e9fd589-line-height);
        letter-spacing: var( --e-global-typography-e9fd589-letter-spacing);
        word-spacing: var( --e-global-typography-e9fd589-word-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}